// main.scss
@use "variables" as vars;
@use "mixins" as mixins;

body {
  color: vars.$deepBlack;
  font-size: 1rem;
  line-height: 1;
  height: vars.$height;
  font-family: vars.$poppins-font;

  margin-inline: auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  .logo {
    margin-right: 211.43px;
  }

  .navigation {
    ul {
      list-style: none;
      display: flex;
      gap: 48px;

      li {
        font-weight: 400;
        text-transform: capitalize;
        line-height: 34px;
      }
    }
  }
}

.nav-right {
  margin-left: 141px;
  display: flex;
  align-items: center;
  gap: 36px;
  a {
    text-decoration: none;
    color: vars.$red;
    text-transform: capitalize;
  }

  button {
    border-radius: 34px;
    padding: 16px 32px;
    color: vars.$white;
    background-color: vars.$red;
    outline: none;
    border: none;
    font-weight: 600;
  }
}
main {
  display: block;
  margin-inline: auto;
  position: relative;
  text-align: center;
  overflow: hidden;
  background-color: vars.$orange;

  .text-content {
    margin: 0 auto;
    margin-top: 8rem;
    position: relative;
    margin-bottom: 8rem;
  }

  h1 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 70px;
    line-height: 1;
  }

  .shape {
    position: absolute;
    left: 22rem;
    bottom: 10.5rem;
  }

  .alarm {
    position: absolute;
    left: 18%;
    top: 4rem;
    width: 100px;
    height: auto;
  }

  .mobile1 {
    position: absolute;
    left: 5.5rem;
    bottom: -10.2rem;
    //top: 5rem;
    transform: rotate(-15deg);
    height: 590px;
  }

  .vector6 {
    position: relative;
    right: 7rem;
    width: 100px;
    height: auto;
  }

  .mobile2 {
    position: absolute;
    right: -5rem;
    bottom: -5.5rem;
    //top: 5rem;
    transform: rotate(20deg);
    height: 520px;
    width: 500px;
  }

  .clip {
    position: absolute;
    right: 25%;
    bottom: 8rem;
    //top: 5rem;
  }

  .vector3 {
    position: absolute;
    left: 13%;
    top: 4rem;
    width: 100px;
    height: auto;
  }

  .vector4 {
    position: absolute;
    left: 35%;
    top: 34rem;
  }

  .vector7 {
    position: absolute;
    right: 1rem;
    top: 1rem;
    height: 50px;
  }

  .vector6 {
    position: relative;
    left: 30%;
    top: -460px;
    width: 100px;
    height: 100px;
  }

  .vector5 {
    position: absolute;
    right: 32%;
    top: 31rem;
    bottom: -10.7rem;
    width: 100px;
    height: auto;
  }
}

.cta-button {
  @include mixins.button-style(vars.$red, vars.$white);
  text-decoration: none;
}

.stats {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: vars.$white;

  .stat {
    text-align: center;

    h2 {
      font-size: 25px;
      color: vars.$deepBlack;
    }

    p {
      font-size: vars.$fontsize;
      color: vars.$deepBlack;
    }
  }
}
